.block {
    padding-top: 145px;

    // .block__container

    &__container {}

    // .block__content

    &__content {
        display: flex;
        gap: 30px;

        @media(max-width:768px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__table {
        width: 50%;
        border: 1px solid var(--hover-color);
        text-align: center;
    }

    &__table-text {
        border: 1px solid var(--hover-color);
    }

    &__img {
        max-width: 600px;

    }
    &__item-title {
        font-weight: 700;
    }
    &__item-text {
        margin: 0;
    }


}

.container {}