.block {
    padding-top: 145px;
    padding-bottom: 80px;
    ;

    @media(max-width:768px) {
        padding: 0;
    }

    // .block__container

    &__container {}

    // .block__content

    &__content {
        display: flex;
        gap: 30px;

        @media(max-width:768px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__table {
        width: 50%;
        border: 1px solid var(--hover-color);
        text-align: center;
        @media(max-width:768px){
            width: 100%;;
        }
    }

    &__table-text {
        border: 1px solid var(--hover-color);
    }

    &__img {
        max-width: 600px;
        @media(max-width:768px){
            max-width: 600px;
        }
    }

    &__item-title {
        font-weight: 700;
    }

    &__item-box {
        margin: 0;

    }


}