.box {
    padding-top: 80px;

    // .box__container

    &__container {}

    // .box__content

    &__text {
        max-width: 1200px;
    }

    &__list {
        padding-left: 20px;
        max-width: 600px;
    }

}