.box {
    padding-top: 80px;

    // .box__container

    &__container {
        display: flex;
        flex-direction: column;
    }

    // .box__content

    &__text {
        max-width: 600px;
    }
    &__list{
        max-width: 600px;;
    }

}