.footer {
	padding-top: 80px;
	padding-bottom: 200px;

	@media(max-width:768px) {
		padding: 0px;
	}

	// .footer__container

	&__container {
		display: flex;
		gap: 10px;
		@media(max-width:768px){
			display: flex;
			flex-direction: column;
		}
	}

	// .footer__img

	&__img {
		max-width: 450px;
	}
}