.footer {
	padding-top: 80px;
	padding-bottom: 200px;

	@media(min-width:320px) {
		padding: 30px 0px;
	}

	// .footer__container

	&__container {
		display: flex;
		justify-content: space-between;

		@media(max-width:990px) {
			display: flex;
			flex-direction: column;
		}
	}

	// .footer__img

	&__img {
		gap: 30px;
		max-width: 300px;
	}
	
}