.main {
    padding-top: 100px;

    // .main__container

    &__container {}

    // .main__content

    &__content {
        display: flex;
        align-items: center;
        gap:85px;
    }

    // .main__img

    &__img {
    }
    &__item{
        max-width: 0%;
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 50px;
        color:var(--background-color);
        margin-bottom: 50px;;
    }
    &__box{
        display: flex;
        flex-direction: column;
    }
}