.main {
    padding-top: 100px;

    // .main__container

    &__container {}

    // .main__content

    &__content {
        display: flex;
    }

    // .main__img

    &__img {
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 50px;
        color:var(--background-color);
    }
}